
body {
    background-color: #89CFF0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.partido-item {
    margin-bottom: 15px;
}

.partido-item h5 {
    font-weight: bold;
}

.partido-item p {
    margin: 5px 0;
}

.logo-rival {
    width: 50px;
    /* Ajusta el tamaño */
    height: auto;
}

.resultado-ficha {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 10px; /* Reducimos el padding general de la ficha */
    margin-bottom: 15px; /* Reducimos el margen inferior entre fichas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.equipo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px; /* Reducimos el margen inferior de la info del equipo */
}

.equipo-detalle {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.logo-equipo {
    width: 40px; /* Ajustamos un poco el tamaño del logo */
    height: 40px; /* Ajustamos un poco el tamaño del logo */
    margin-right: 5px;
    object-fit: contain;
}

.nombre-equipo {
    font-weight: bold;
    font-size: 1.1em; /* Aumentamos el tamaño del nombre del equipo */
    text-align: center;
}

.marcador-container {
    display: flex;
    align-items: center;
    margin: 0 5px; /* Reducimos el margen horizontal del contenedor del marcador */
}

.marcador {
    font-size: 1.2em;
    font-weight: bold;
    width: 25px; /* Reducimos el ancho del marcador */
    text-align: center;
    margin: 0; /* Eliminamos el margen individual del marcador */
}

.separador-marcador {
    margin: 0 5px; /* Ajustamos el margen del separador */
    font-weight: bold;
    font-size: 1.2em;
}

.info-partido {
text-align: center;
color: #777;
font-size: 0.95em;
margin-top: 8px;
}

.jornada-partido {
font-weight: bold;
font-size: 1em;
margin-bottom: 5px;
}

.info-partido strong {
font-size: 1em;
font-weight: bold; /* Aseguramos que las etiquetas estén en negrita */
}

.info-partido p span { /* Selecciona los spans dentro de los párrafos de info-partido */
font-weight: bold; /* Aplica negrita al contenido dentro del span */
}
.temporada-actual {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
}

