
body {
    background-color: #89CFF0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.partido-item {
    margin-bottom: 15px;
}

.partido-item h5 {
    font-weight: bold;
}

.partido-item p {
    margin: 5px 0;
}

.logo-rival {
    width: 50px;
    /* Ajusta el tamaño */
    height: auto;
}


